<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>HJYLC-mobile.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>5F397BC9681CF5390C53A22E1C1881D17084616A</string>
				<key>dateExpires</key>
				<string>2021/12/28</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>YGTMYHD9QN.com.coolshow.kuxiuTickets</string>
				<key>com.apple.developer.team-identifier</key>
				<string>YGTMYHD9QN</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>YGTMYHD9QN.com.coolshow.kuxiuTickets</string>
				</array>
			</dict>
			<key>name</key>
			<string>HJYLC-mobile.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>09db2369-82b7-4969-8285-30d493a66000</string>
				<key>name</key>
				<string>KuxiuTickets</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>YGTMYHD9QN</string>
				<key>name</key>
				<string>Hainan Cool Show Information Technology Service Co., Ltd.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
